python-dotenv
google-genai
opencv-python
flask
pyaudio
pillow
mss
fastapi
uvicorn[standard]
numpy
aiortc
websockets
python-multipart
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib